<div class="pastry" id="pastry">
    <h3 class="title">our pastry</h3>
    <div class="wrapper">
        <div class="pastry-card">
            <img src="../../assets/images/croissant1.jpg" alt="">
            <h3>Butter and cream</h3>
            <div class="price">$2</div>
            <p href="" class="btn" id="cart">Add to cart</p>
            <i class='bx bx-heart' id="heart"></i>
            <p id="likes"></p>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/croissant2.jpg" alt="">
            <h3>Vanilla strawberry</h3>
            <div class="price">$2</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/croissant3.jpg" alt="">
            <h3>Chocolate</h3>
            <div class="price">$2</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/croissant4.jpg" alt="">
            <h3>Pistachio</h3>
            <div class="price">$2</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
    </div>
</div>
<div class="pastry" id="pastry">
    <h3 class="title">our cakes</h3>
    <div class="wrapper">
        <div class="pastry-card">
            <img src="../../assets/images/cakes1.jpg" alt="">
            <h3>Raspberry chocolate</h3>
            <div class="price">$20</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart' id="heart"></i>
            <p id="likes"></p>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/cakes2.jpg" alt="">
            <h3>Strawberry vanilla cheesecake</h3>
            <div class="price">$19</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/cakes3.jpeg" alt="">
            <h3>Nutella</h3>
            <div class="price">$23</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/cakes4.jpeg" alt="">
            <h3>White chocolate</h3>
            <div class="price">$21</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
    </div>
</div>
<div class="pastry" id="pastry">
    <h3 class="title">our cookies</h3>
    <div class="wrapper">
        <div class="pastry-card">
            <img src="../../assets/images/cookies1.jpeg" alt="">
            <h3>Nuts</h3>
            <div class="price">$1,5</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart' id="heart"></i>
            <p id="likes"></p>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/cookies2.jpeg" alt="">
            <h3>Coconut</h3>
            <div class="price">$2</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/cookies3.jpg" alt="">
            <h3>Snicker</h3>
            <div class="price">$2</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/cookies4.jpeg" alt="">
            <h3>Paratroopers</h3>
            <div class="price">$1</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
    </div>
</div>
<div class="pastry" id="pastry">
    <h3 class="title">our muffins</h3>
    <div class="wrapper">
        <div class="pastry-card">
            <img src="../../assets/images/muffins1.jpeg" alt="">
            <h3>Raspberry</h3>
            <div class="price">$2</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart' id="heart"></i>
            <p id="likes"></p>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/muffins2.jpeg" alt="">
            <h3>Chocolate chips</h3>
            <div class="price">$2,5</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/muffins3.jpeg" alt="">
            <h3>Nutella strawberry</h3>
            <div class="price">$3</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/muffins4.jpg" alt="">
            <h3>White chocolate</h3>
            <div class="price">$2</div>
            <a href="" class="btn">Add to cart</a>
            <i class='bx bx-heart'></i>
        </div>
    </div>
</div>
<div class="comment-section">
    <div class="comments" id="comments"></div>
    <form class="form"  id="comment-form">
       <label for="comment">Leave a comment:</label>
       <textarea id="comment" required></textarea>
       <button type="button" onclick="submitComment()">Submit</button>
    </form>
</div>