*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: white;
}

.wrapper{
  width: 450px;
  background: whitesmoke;
  border-radius: 10px;
}
.wrapper h1{
  font-size: 25px;
  font-weight: 500;
  padding: 25px 25px;
  border-bottom: 2px solid rosybrown;
}
.wrapper .content{
  margin: 25px 25px 35px;
}
.content .inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs input{
  height: 55px;
  width: 55px;
  margin: 4px;
  color: brown;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  background: rosybrown;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid;
}
.inputs input:first-child{
  margin-left: 0px;
}
.content .typing{
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.content .details{
  margin: 20px 0 20px;
}
.details p{
  font-size: 17px;
  margin-bottom: 10px;
}
.content .reset-btn{
  width: 100%;
  font-size: 17px;
  padding: 15px 0;
  outline: none;
  cursor: pointer;
  border: none;
  color: brown;
  background: rosybrown;
  border-radius: 5px;
  margin-bottom: 10px;
}
.content .check-btn{
  border-color: brown;
  font-size: medium;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}
