* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: white;
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    background-color: white;
    margin-bottom: 10%;
}

.container .contactform {
    position: absolute;
    padding: 50px;
    padding-left: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: calc(100%-50px);
    height: 100%;
    box-shadow: 0 50px 50px #ed6464;
}

.container .contactform h2 {
    color: black;
    font-size: 24px;
    font-weight: 500;
}

.container .contactform .formbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.container .contactform .formbox .inputbox{
    position: relative;
    margin-bottom: 35px;
    width: 47%;
}

.container .contactform .formbox .inputbox2 {
    position: relative;
    margin-bottom: 35px;
    width: 160%;
}

.container .contactform .formbox .inputbox input,
.container .contactform .formbox .inputbox2 textarea
{
    width: 100%;
    resize: none;
    padding: 10px 0; 
    font-size: 18px;
    font-weight: 300;
    color: black;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.container .contactform .formbox .inputbox2 textarea {
    height: 100px;
}

.container .contactform .formbox .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactform .formbox .inputbox input:focus ~ span,
.container .contactform .formbox .inputbox input:valid ~ span,
.container .contactform .formbox .inputbox textarea:focus ~ span,
.container .contactform .formbox .inputbox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ed6464;
    font-weight: 500;
}

.container .contactform .formbox .inputbox2 input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: white;
    border: #ed6464;
    border-style: solid;
    color:  black;
    max-width: 150px;
    padding: 12px;
    margin-top: 5px;
}

.container .contactform .formbox .inputbox2 input[type="submit"]:hover {
    background: #ed6464;
}
.header {
    min-height: 5px;
    width: 100%;
    position: relative;
    background-color: white;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 9%;
}
.nav-links ul {
    list-style: none;
    display: inline-block;
}
nav img {
    height: 170px;
    width: 180px;
    padding: 0%;
}
.icons {
    margin-left: 0;
    margin-right: 20px;
    width: auto; 
}

.icons i {
    margin-right: 10px;
}
.icons a {
    color: black;
    font-size: medium;
}

.nav-links ul li {
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
    font-size: 18px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer {
    background-color: #008B8B;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info, .social-icons {
    flex-basis: 48%; 
    text-align: left; 
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.icon img {
    width: 30px; 
    height: auto;
}

