<section class="additional-section">
    <div class="background-image">
        <img class="background-image" src="../../assets/images/pozadina.jpg" alt="">
        <div class="content-container">
            <div class="text">
                <h2>A party without cake <br>
                     it's just a meeting</h2>
                <p>Check out our specialties</p>
            </div>
            <div class="menu-box">
                <a routerLink="menu">Menu</a>
            </div>
        </div>
    </div>
</section>

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="column">
                <img src="../../assets/images/pastry.jpg" alt="category1">
            </div>
            <div class="column">
                <img src="../../assets/images/cakes.jpg" alt="category2">
            </div>
            <div class="column">
                <img src="../../assets/images/cookies.jpeg" alt="category3">
            </div>
            <div class="column">
                <img src="../../assets/images/muffins.jpeg" alt="category4">
            </div>
        </div>
        <h2 class="category-title">Our Categories</h2>
    </div>
</div>
<section class="gradient-section">
    <div class="text-box">
        <h2>Learn more about us!</h2>
        <p>It all started one sunny day, in the small kitchen of my grandmother's apartment, which was located on a not so busy streeт. Sun, noon, an old diary with recipes, a lot of desire and a lot of love...</p>

        <div class="story-box">
            <a routerLink="about">Our Story</a>
        </div>
    </div>
</section>
<div class="comments">
    <div class="container1">
        <div class="row">
            <div class="column3">
                <p>"Lots of great pastries. Nice people. <br>
                    A place with self respect! I like it." </p>
                <h3>A.H</h3>
            </div>
            <div class="column3">
                <p>"The products are excellent, <br>
                   especially like the pecan cinnamon rolls. <br>
                   We also purchased a champagne cake <br>
                   a couple weeks ago for a birthday that was excellent. <br>
                   Give it a try you won’t be disappointed."
                </p>
                <h3>S.N</h3>
            </div>
            <div class="column3">
                <p>"Absolutely loved discovering this local favorite! <br>
                    Family operated. <br>
                    Surprisingly fair/low priced items." <br>
                </p>
                <h3>B.M</h3>
            </div>
        </div>
    </div>
</div>